.widgetsm {
    flex: 1;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 20px;
    margin-right: 20px;
}

.widgetSmTitle {
    font-size: 32px;
    font-weight: 600;
   
}

.widgetSmTitle h2 {
    color: green;
}

.widgetSmImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.widgetSmList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widgetsmListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.widgetSmUser {
    display: flex;
    flex-direction: column;
}

.widgetSmUsername {
    font-weight: 600;

}

.widgetSmTitle {
    font-weight: 300;
    font-size: 15px;
}

.widgetSmButton {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: rgba(0, 0, 255, 0.188);
    color: #555;
    cursor: pointer;
}

.widgetSmIcon {
    font-size: 16px !important;
    margin-right: 5px;
}